<?xml version="1.0" encoding="utf-8"?>
<!-- Note: remote the "__sample" piece from each -->
<resources>
    <string name="exchange_rate_key__sample" translatable="false">YOUR_KEY_HERE</string>
    <string name="ocr_api_key__sample" translatable="false">YOUR_KEY_HERE</string>
</resources>