<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="wb.receipts" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        tools:replace="android:name"
        android:allowBackup="true"
        android:name=".SmartReceiptsFreeApplication" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
             	  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>
	
</manifest>