<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="wb.receipts"
      android:versionName="3.3.4">

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        tools:replace="android:name"
        android:allowBackup="true"
        android:name=".SmartReceiptsFreeApplication" >
        <activity android:name=".SmartReceiptsFreeActivity"
			android:label="@string/sr_app_name"
			android:windowSoftInputMode="adjustPan" >
			
            <!-- Main Launcher filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Filter to handle action send activities -->
            <intent-filter>
	            <action android:name="android.intent.action.SEND" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="image/*" />
       		</intent-filter>
            
			<!-- ****Do not nest these filters!! They will not work if so. *** -->
			<!-- Filter to open file with gmail version 4.2 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/smr" android:pathPattern=".*\\.smr"  android:host="*" />
			</intent-filter>
			
			<!-- This seems to be the "key" one for SMRs -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/octet-stream" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains period) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains two periods) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- PDF Filters are all listed below -->
			<!-- http://stackoverflow.com/questions/3760276/android-intent-filter-associate-app-with-file-extension  -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/pdf" android:pathPattern=".*\\.pdf"  android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.pdf" android:host="*" />
			</intent-filter>
        
        </activity>
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
             	  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>
	
</manifest>