<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<included>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%date] &lt;%logger{20}&gt; %level: %msg%n</pattern>
        </encoder>
    </appender>
</included>