<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="wb.receipts"
      android:versionCode="102"
      android:versionName="3.2.1">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:theme="@style/Theme.SmartReceipts"  
        android:allowBackup="true"
        android:name=".SmartReceiptsFreeApplication"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:logo="@drawable/logo" >
        <activity android:name=".SmartReceiptsFreeActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize" >
			
            <!-- Main Launcher filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Filter to handle action send activities -->
            <intent-filter>
	            <action android:name="android.intent.action.SEND" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="image/*" />
       		</intent-filter>
            
			<!-- ****Do not nest these filters!! They will not work if so. *** -->
			<!-- Filter to open file with gmail version 4.2 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/smr" android:pathPattern=".*\\.smr"  android:host="*" />
			</intent-filter>
			
			<!-- This seems to be the "key" one for SMRs -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/octet-stream" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains period) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains two periods) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- PDF Filters are all listed below -->
			<!-- http://stackoverflow.com/questions/3760276/android-intent-filter-associate-app-with-file-extension  -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/pdf" android:pathPattern=".*\\.pdf"  android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.pdf" android:host="*" />
			</intent-filter>
        
        </activity>
        
        <activity
			android:name="co.smartreceipts.android.activities.ReceiptsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SmartReceiptsFreeActivity" />
        </activity>
        
         <activity
			android:name="co.smartreceipts.android.activities.ReceiptImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="co.smartreceipts.android.activities.ReceiptsActivity" />
        </activity>
        
        <!-- 
        <activity
			android:name="co.smartreceipts.android.activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SmartReceiptsProActivity" />
        </activity>
        
        <activity
			android:name="co.smartreceipts.android.activities.SettingsDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="co.smartreceipts.android.activities.SettingsDetailsActivity" />
        </activity>
        -->
        
        <activity
			android:name="co.smartreceipts.android.activities.ReceiptPDFActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="co.smartreceipts.android.activities.ReceiptsActivity" />
        </activity>
        
        <activity android:name="co.smartreceipts.android.legacycamera.MyCameraActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity
			android:name="co.smartreceipts.android.activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        
        <activity
			android:name="co.smartreceipts.android.activities.SettingsViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        
        <activity android:name="wb.android.google.camera.CameraActivity"
            android:taskAffinity="wb.android.google.camera.CameraActivity" 
            android:theme="@style/Theme.Camera"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
             	  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        


        
        
    </application>
	
</manifest>