<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wb.android.google.camera"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
  
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="AndroidCamera"
        android:name="wb.android.google.camera.app.GalleryAppImpl"
        android:theme="@style/Theme.Gallery"
        android:hardwareAccelerated="true"
        android:largeHeap="true" >
        <activity android:name="wb.android.google.camera.CameraActivity"
            android:taskAffinity="wb.android.google.camera.CameraActivity" 
            android:theme="@style/Theme.Camera"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>