<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="wb.receiptspro"
      android:versionName="3.3.4">

    <application
        tools:replace="android:label,android:name"
        android:label="@string/sr_app_name"
        android:allowBackup="true"
        android:name=".SmartReceiptsProApplication" >
        <activity android:name=".SmartReceiptsProActivity"
			android:label="@string/sr_app_name"
			android:windowSoftInputMode="adjustPan" >
			
            <!-- Main Launcher filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Filter to handle action send activities -->
            <intent-filter>
	            <action android:name="android.intent.action.SEND" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="image/*" />
       		</intent-filter>
            
			<!-- ****Do not nest these filters!! They will not work if so. *** -->
			<!-- Filter to open file with gmail version 4.2 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/smr" android:pathPattern=".*\\.smr"  android:host="*" />
			</intent-filter>
			
			<!-- This seems to be the "key" one for SMRs. Need to define a 'scheme' here so it doesn't grab everything... 
			content and file do not work as schemes -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/octet-stream" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains period) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- Filter to open with file browser (when filename contains two periods) -->
			<!-- http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921#8599921 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.smr" android:host="*" />
			</intent-filter>
			
			<!-- PDF Filters are all listed below -->
			<!-- http://stackoverflow.com/questions/3760276/android-intent-filter-associate-app-with-file-extension -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/pdf" android:pathPattern=".*\\.pdf"  android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\.pdf" android:host="*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.pdf" android:host="*" />
			</intent-filter>
        
        </activity>

        <activity android:name="co.smartreceipts.android.legacycamera.MyCameraActivity"
                  android:label="@string/sr_app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="wb.android.google.camera.CameraActivity"
            android:taskAffinity="wb.android.google.camera.CameraActivity" 
            android:theme="@style/Theme.Camera"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        
    </application>
	
</manifest>